
a:link { color: #8b0000; text-decoration:none }
a:visited { color: #b22222; text-decoration:none }
a:hover { color: #b22222; text-decoration:none }
a:active { color: #b22222; text-decoration:none }

 body { 
            font-family: Arial, sans-serif;            
            margin: 0 auto;
            padding: 0px;
        }

.size_00 {
  font-size:  40px;    /* 文字サイズ指定 */
}

.navbar-nav {
  width: 100%;
  justify-content: center;
}
.navbar-nav .nav-item {
  margin: 0 10px;
}
@media (max-width: 991px) {
  .navbar-nav {
      text-align: center;
  }
}


.dental-header {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  max-width: 700px;
  color: #0d5e03;
  justify-content: center;
}

.logo img {
  max-width: 100%;
  height: auto;
  margin-right: 20px; /* 画像と文字の間隔 */
}

.text-content {
  display: flex;
  flex-direction: column;
}

.japanese-text {
  font-weight: normal;
  font-size: 50px;
  font-family: "Shin Go", "Shin-Go", 
               "Kozuka Gothic Pro", "Kozuka Gothic Pr6N", "KozGoPro-Medium", 
               "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", 
               "Meiryo", "メイリオ", 
               "MS PGothic", "ＭＳ Ｐゴシック", 
               sans-serif;
}

section .english-text {
  font-size: 24px; /* 英語テキストのフォントサイズを変更 */
}



h1 {
  text-align:center; 
  color: #222222;
  margin: 25px 0px 0px 0px;
  padding: 0px;
  }

h2 {
  /* background-color:green; */
  text-align:center; 
  color: #222222;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px 0px 0px;
}




h3 {
  /* background-color:red; */
  text-align:center; 
  color: #222222;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px 0px 0px;
  /* margin: 5px 0px 0px 0px; */
  /* padding: 5px 0px 0px 0px; */
}

h4 {
  text-align:center; 
  color: #333333;
  font-weight: normal;
  font-size: 18px;
  margin: 5px;
  padding: 5px;
}

.mainbox00 {
  /* display: flex;
  justify-content: center; */
  background: #ffffff;
  border: solid 1px #666666;
  border-radius: 10px;
  width: 65%;
  min-width:950px;
  margin:0 auto;
  /* margin: 5px; */
  /* padding: 10px; */
  
}


.mainbox01 {
  display: flex;
  /* text-align:center; */
  /* justify-content: center; */
  /* width: 60%;
  min-width:940px; */
  /* border: solid 1px #666666; */
  /* border-radius: 10px; */
  justify-content: space-around;
  background: #ffffff;
  /* margin-left:auto;
  margin-right:auto; */
  margin:10px;
  
}


.data_reception01 p {
  font-size: 20px; /* パラグラフのフォントサイズを変更 */
  padding:5px;
  margin:0px auto;
  line-height: 1;
}

 .data_reception01{ 
  display:flex;
  flex-direction: column;
  border-radius: 10px;
  width: 90%;
  max-width: 550px;
  padding:10px;
  margin:13px auto;
  border: solid 2px rgb(46, 6, 247);

 }


.data_reception02{ 
  display:flex;
  border-radius: 10px;
  width: 90%;
  max-width: 550px;
  justify-content: center;
  border: solid 2px rgb(225, 161, 10);
  padding:10px;
  margin:13px auto;  

 }

 .line_box{ 
  /* display: flex; */
  /* justify-content: space-around; */
  text-align:center;

  border-radius: 10px;
  width:150px;
  border: solid 2px rgb(225, 161, 10);
  padding:10px;
  margin:13px auto;
  position: fixed;
  top: 40px;
  right: 16px;

 }

 .data_reception02_00{ 

  display: inline-block;
  margin:0 10px;

 }

 .data_reception02_01{ 

  display: inline-block;
  margin:0 10px;

  }

.box {
  text-align:center; 
  background: #ffffff;
  border-radius: 10px;
  padding:10px;
}


.box1 {
  border: solid 1px orange;
  margin: 10px auto;
  width: 90%;  
}


.box2 { 
   border: solid 1px blue;
}

.box3 { 
   border: solid 1px green;
}

.box4 { 
   border: solid 1px red;
}

.box5 { 
   border: solid 1px black;
}




.btn{
padding: 10px 25px;
background: hsl(218, 44%, 59%);
color: #ffffff;
border-radius: 4px;
box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
cursor: pointer;
margin:5px;
transition: background 0.3s;
}

.btn:hover{
  background: hsl(200, 100%, 45%);
}

.topbtn{
  display: flex;
  justify-content: center;
  margin:5px 10px;
  padding:5px 5px 5px 5px;

}


