<!-- SHIBUYA8020 -->
<!DOCTYPE html>

<HTML lang="ja">
<head>
    
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JLCPNFKCHD"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'G-JLCPNFKCHD');
</script>

    <meta name=”viewport” content=”width=device-width,initial-scale=1″>  
    <meta http-equiv="content-type" charset="utf-8">
    <meta name="robots" content="all">
    <META http-equiv="Content-Style-Type" content="text/css"> 
    <LINK REL="STYLESHEET" HREF="sibu/style02.css" TYPE="text/css">
    <link rel="canonical" href="https://shibuya8020.com/">
    <meta name=“keywords” content=“自家歯牙移植,レプリカ,移植歯牙3Dプリント,移植歯牙プリント,歯牙プリント”>
    <meta name="description" content="埼玉県越谷市の渋谷歯科技工所です。お気軽にお問い合わせください。【電話】048-974-9851" />
      
    <TITLE>自家歯牙移植用3Dレプリカcase | 渋谷歯科技工所</TITLE>
      
    <!--require_stylesheet-->  
    <link rel="stylesheet" href="css/page.css">

    <!--Favicon-->
    <link rel="icon"href="favicon.ico">
  
  </HEAD>

<BODY>
<center>
<font size="5"font color="#444444">
<h1>Autologous tooth transplant case</h1>
<h1>自家歯牙移植症例</h1>

</font>


<center>
<IMG SRC="rootreplica_case/case001.jpg"border="0">
<IMG SRC="rootreplica_case/case002.jpg"border="0"><br>
<IMG SRC="rootreplica_case/case003.jpg"border="0"><br>
<IMG SRC="rootreplica_case/case004.jpg"border="0"><br>
<IMG SRC="rootreplica_case/case005.jpg"border="0"><br>

</center>
</td></tr>
</table>


<div class="box6">
  <h2>【症例1】</h2>
  移植歯に合わせた移植床(移植先受容側部の窩洞)の形成をスムーズかつ正確にするため<br>
  事前にCTデーターから移植歯の形態をPMMA(レジン)に置き換えて準備しておきます<p>


  今回は8番の矮小歯を4番に移植したケースでドナーレプリカを作製しました<p>



  <IMG SRC="rootreplica/001.jpg"border="0"><br>
  <p>
  <IMG SRC="rootreplica/002.jpg"border="0"><br>
  <p>
  <IMG SRC="rootreplica/027.jpg"border="0"><br>
  <p>
  歯牙データを抜き出す。歯根の形態だけでなく歯冠部も抜き出します<br>
  <IMG SRC="rootreplica/004.jpg"border="0"><br>
  <p>
  PMMA(レジン)でドナーレプリカを作製します<br>
  <IMG SRC="rootreplica/005.jpg"border="0"><br>
  <p>
  移植歯を抜歯してドナーレプリカと比較してみました<br>
  <IMG SRC="rootreplica/006.jpg"border="0"><br>
  <p>
  <IMG SRC="rootreplica/007.jpg"border="0"><br>
  <p>
  <IMG SRC="rootreplica/008.jpg"border="0"><br>
  <p>
  術後<br>
  <IMG SRC="rootreplica/009.jpg"border="0"><br>
  
  <h3>【画像提供】<a href="https://www.yumoto-dc.com/"target="_blank">
      歯内療法専門歯科 ユモトデンタルクリニック湯本 真幸先生</a></h3>
</div>


<div class="box6">
  <h2>【症例2】</h2>
  <IMG SRC="rootreplica/020.jpg"border="0"><IMG SRC="rootreplica/021.jpg"border="0"><br>
  <p>
  <IMG SRC="rootreplica/022.jpg"border="0"><br>
  <p>
  <IMG SRC="rootreplica/023.jpg"border="0"><br>
  <p>
  移植歯を抜歯する前に歯牙3Dレプリカにて当たりを確認しながら移植床の形成を進めていく<br>
  <IMG SRC="rootreplica/025.jpg"border="0"><br>
  <p>
  <IMG SRC="rootreplica/024.jpg"border="0"><br>
  <h3>【画像提供】<a href="https://www.yumoto-dc.com/"target="_blank">
      歯内療法専門歯科 ユモトデンタルクリニック湯本 真幸先生</a></h3>
</div>

<div class="box6">
  <h2>【症例3】</h2>
  <IMG SRC="rootreplica/026.jpg"border="0"><br>

  <h3>【画像提供】<a href="https://www.yumoto-dc.com/"target="_blank">
    歯内療法専門歯科 ユモトデンタルクリニック湯本 真幸先生</a></h3>
</div>


<div class="box6">
  <h2>【症例4】</h2>
  <IMG SRC="rootreplica_case/case006.jpg"border="0"><br>
  <IMG SRC="rootreplica_case/case007.jpg"border="0"><br>
  
  <h3>【画像提供】<a href="https://www.yumoto-dc.com/"target="_blank">
      歯内療法専門歯科 ユモトデンタルクリニック湯本 真幸先生</a></h3>
</div>

<h3>※画像掲載について：先生と患者さまの許可をいただいております</h3>

<br>
making theeth
Transplantation simulation of artificial tooth root by using the 3D printing model<br>
autotransplantation of teeth with 3D printed surgical guides<br>
As a valuable method for restoring missing teeth, autotransplantation of teeth has been used in clinical practice for over 60 years<br>
Dental autotransplan<br>
autotransplantation<br>
3D donor replica root<br>




</center>

<p align="right">
<font size="4"font color="#ffffff">

<A HREF="../index.html"target="_top">
<b>渋谷歯科技工所</b>


</body>
</html>

