<!-- SHIBUYA8020 -->
<!DOCTYPE html>

<HTML lang="en">
<head>
    
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JLCPNFKCHD"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'G-JLCPNFKCHD');
</script>

    <meta name=”viewport” content=”width=device-width,initial-scale=1″> 
    <meta http-equiv="content-type" charset="utf-8">
    <meta name="robots" content="all">
    <META http-equiv="Content-Style-Type" content="text/css"> 
    <link rel="canonical" href="https://shibuya8020.com/">
    <meta name="description" content="Tel 048-961-8151" />
    <TITLE>Replica for autologous tooth transplantation | SHIBUYA Dental Labo</TITLE>

    <!--require_stylesheet-->
    <link rel="stylesheet" href="css/page.css">

     <!--Favicon-->
     <link rel="icon"href="favicon.ico">

  </HEAD>


<BODY>
<center>
<font size="5"font color="#444444">
<h1>Replica creation service for autologous tooth transplantation</h1>
<h1>Created from DICOM data</h1>
<h1>Dental Prosthesis Modeling Service</h1>
<h1>simulation model</h1>



</font>

<IMG SRC="rootreplica/032.jpg"border="0"><br>

<h2>$85(Shipping cost included)</h2>

Please send DICOM data to shibuya8020@gmail.com.<br>
For CT imaging, it is sufficient if the field of view (FOV) is narrowed and the implanted tooth is shown. It doesn't matter if it's not full chin.<p>


  <h1>↓↓↓ Enter the CT data here and we will start production</h1>
  <div class="data_reception">
  
    <h2>  <A href="https://www.dropbox.com/request/VhJ4et0P9ht1J1c3mnE9"target="_blank">
      Data reception CT data</h3></a>
  
  </div>
<h3><a href = "tel:81489618151">Tel +81 48-961-8151</a></h3>


<div class="box001">
  <h2>To increase the success rate of autologous tooth transplantation.</h2>

   <ul>
    <li>To extract and immediately implant the transplanted tooth into the prepared recipient site.</li>
    <li>To avoid damaging the periodontal tissues (periodontal ligament) surrounding the tooth root.</li>
    <li>Young individuals (preferably below 40 years of age, although successful cases have been observed in individuals up to 70 years of age).</li>
    <li>To ensure that the transplanted tooth has appropriate bone width.</li>
  </ul>

  <h4>One of the conditions to increase the success rate of autologous tooth transplantation is time. It is crucial to implant the extracted tooth (transplanted tooth) into the alveolar bone (recipient site) as quickly as possible without causing damage. By using 3D replicas, it becomes possible to immediately perform the implantation.</h4>
  
  <h4>Without using 3D replicas, the process of implanting the transplanted tooth into the alveolar bone after extraction involves carefully shaping the recipient site while positioning the transplanted tooth. This method takes more time and physically damages the transplanted tooth (periodontal ligament).</h4>
  
  <h4>By using 3D replicas of teeth, it becomes possible to perform preoperative simulations of tooth transplantation. This allows for a better understanding of the shape of the tooth, confirmation of jawbone reduction techniques, and assessment of occlusion. Tasks that could only be performed after the extraction of the transplanted tooth can now be conducted in advance.</h4>
  <h4>Preserving the periodontal tissues, especially the remnants of Malassez's epithelium, without causing damage, is crucial in autogenous tooth transplantation and replantation treatment.</h4>
  <h4>In immature teeth with incomplete root formation, the presence of Hertwig's epithelial sheath at the apical region is important for the healing of the dental pulp. Therefore, it is crucial to avoid damaging the periapical tissues in order to preserve the integrity of the root apex.</h4>
  </font>
</div>

<center>
  <IMG SRC="rootreplica/029.jpg"border="0"><br>
  </center>
  </td></tr>
  </table>
  
  <div class="box6">
    <h2>CASE1</h2>
     
       <div class="box00">
       <IMG SRC="rootreplica/shirahama/001.jpg"><IMG SRC="rootreplica/shirahama/002.jpg">
       </div>  
  
       <div class="box00">
       <IMG SRC="rootreplica/shirahama/003.jpg"><IMG SRC="rootreplica/shirahama/004.jpg">
       </div>  
  
       <div class="box00">
         <IMG SRC="rootreplica/shirahama/005.jpg"><IMG SRC="rootreplica/shirahama/006.jpg">
         </div>  
  
           
    <a href="http://ujidentalclinic.com/index.html"target="_blank">
      <h3>UJI Dental Clinic Dr.SHIRAHAMA YOSHIMASA</h3>
      </a>
  
  </div>
  
  
  
  
  <div class="box6">
    <h2>【症例紹介】</h2>
  
  <h3>移植歯に合わせた移植床(移植先受容側部の窩洞)の形成をスムーズかつ正確にするため</h3>
  <h3>事前にCTデーターから移植歯の形態をPMMA(レジン)に置き換えて準備しておきます</h3>
  <h3>今回は8番の矮小歯を4番に移植したケースでドナーレプリカを作製しました</h3>
    
       <div class="box00">
       <IMG SRC="rootreplica/005.jpg">
       </div>  
  
       <div class="box00">
       <IMG SRC="rootreplica/034.jpg">
       </div>  
       <h3>移植歯を抜歯する前に歯牙3Dレプリカにて当たりを確認しながら移植床の形成を進めていく</h3>
       <div class="box00">
         <IMG SRC="rootreplica/008.jpg">
         </div>  
  
       <div class="box00">
         <IMG SRC="rootreplica/009.jpg">
         </div>  
  
         
  
      <h3>画像提供</h3>
      <a href="https://www.yumoto-dc.com/"target="_blank">
      <h3>歯内療法専門歯科 ユモトデンタルクリニック</h3>
      <h3>Dr.湯本 真幸</h3></a>
  
  
  </div>
  
  
  
  
  
  <div class="box6">
    <h2>【症例紹介】</h2>
    
       <div class="box00">
       <IMG SRC="rootreplica/020.jpg"><IMG SRC="rootreplica/021.jpg">
       </div>  
  
       <div class="box00">
       <IMG SRC="rootreplica/022.jpg">
       </div>  
       <h3>移植歯を抜歯する前に歯牙3Dレプリカにて当たりを確認しながら移植床の形成を進めていく</h3>
       <div class="box00">
         <IMG SRC="rootreplica/023.jpg"><IMG SRC="rootreplica/024.jpg">
         </div>  
  
       <div class="box00">
         <IMG SRC="rootreplica/025.jpg"><IMG SRC="rootreplica/025_01.jpg">
         </div>  
  
         
  
      <h3>画像提供</h3>
      <a href="https://www.yumoto-dc.com/"target="_blank">
      <h3>歯内療法専門歯科 ユモトデンタルクリニック</h3>
      <h3>Dr.湯本 真幸</h3></a>
  
  
  </div>
  
  
    <div class="box6">
      <h2>【症例紹介】</h2>
      <h3>【上下顎骨レプリカ、3Dプリント造形】</h3>
      
         <div class="box00">
         <IMG SRC="rootreplica/gaku004.jpg">
         </div>  
         <h3>自家歯牙移植用レプリカを使用した場合の移植シミュレーションをご提供致します</h3>
         <div class="box00">
         <IMG SRC="rootreplica/simulation001.jpg">
         </div>  
         <div class="box00">
           <IMG SRC="rootreplica/simulation002.jpg">
         </div>  
      
        <h3>画像提供</h3>
        <a href="https://www.yumoto-dc.com/"target="_blank">
        <h3>歯内療法専門歯科 ユモトデンタルクリニック</h3>
        <h3>Dr.湯本 真幸</h3></a>
    
    
    </div>
  
  
  
  
  
  
  
  
  
  
  <h2>※画像掲載について</h2>
  <h3>先生と患者さまの許可をいただいております</h3>
  
    <A HREF="rootreplica_case.html"target="_self"><h2>症例ページ</h2></a>
  
  



</center>

<p align="right">
<font size="4"font color="#ffffff">

<A HREF="https://shibuya8020.com/"target="_top">
<b>SHIBUYA Dental Laboratory</b></a></p></font>


</body>
</html>
